<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div ng-app="webrtcapi">
        <h1>Webrtc communicator</h1>
        <p>Sign in</p>
        <!-- <p id="p01">I am different</p> -->
        <form>
            <br>Login: <input type="text" ng-model="login">
            <br>Password: <input type="text" ng-model="password">
            <br><input type="submit" value="Sign in">
        </form>
        <br><a href="signup.html">Create account</a>
    </div>
</body>

</html>